/* HEADER */

url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

header {
    text-align: center;
    color: #fff;
    background: #18bc9c;

    position: fixed;
    width:100%;
    z-index: 1;
    height: 88%;
    overflow: hidden;
    top: 0;
    left: 0;
}
header .container {
    padding-top: 150px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

/* NAV BAR */
.navbar-main-menu {
	background-color: #000;
	position: relative;
}
.navbar-default-style {
    background-image: linear-gradient(to bottom,#29343A 0,#29343A 100%);
    border-color:#29343A;
    border-radius: 0px;
    box-shadow: none;
}

.navbar.navbar-default .navbar-brand{
	color: #fff;
}

.navbar-default .navbar-nav>.active>a, 
.navbar.navbar-default .navbar-nav>.active>a:hover, 
.navbar.navbar-default .navbar-nav>.active>a:focus{
	background-image: linear-gradient(to bottom,#29343A 0,#29343A 100%);
    background-color: #29343a;
	color: #f1c40f;
    box-shadow: none;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus{
	color: #fff;
    background-image: linear-gradient(to bottom,#f1c40f 0,#f1c40f 100%);
	background-color: #f1c40f;
}

.navbar-default .navbar-toggle{
    color:#fff;
    font-weight: bold;
}
.navbar-default .navbar-collapse, 
.navbar-default .navbar-form{
	border-color: transparent;
}

.dropdown-menu{
	background-color: #f1c40f;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	    -ms-box-shadow: none;
	     -o-box-shadow: none;
}

.dropdown-menu li a{
	color: #fff;
	padding: 10px 20px;
}

.navbar-default ul.nav li a{
	font-weight: 400;
}

.navbar-default ul.nav li a:hover{
	color: #f1c40f;
}
.navbar-form .input-group>.form-control {
    border-radius: inherit;
}

